fieldset{
    margin-left: 20%;
    margin-right: 30%;
    width: 50%;
    background-color:rgba(125, 6, 236, 0.993);
    border-width: 10px;
    border-color: rgb(12, 235, 5);
}

fieldset:hover{
    background-color: rgb(0, 45, 247);
}

legend{
    color:rgb(247, 244, 248);
    background-color: darkslategrey;
    border: 1px solid black;
    border-radius: 5px 5px;
}

input{
    background-color: rgb(255, 255, 255);
}

h1{
    margin-left: 20%;
    margin-right: 30%;
}

button{
    border-radius: 50px 50px;
    background-color:chocolate(14, 184, 252);
    color:black;
    font-weight: bold;
    border: 1px solid black;
}

button:hover{
    background-color: rgb(206, 115, 10);
}